<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My Blog v2</title>
  <link rel="stylesheet" href="/css/styles.css">

  <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <form class="" action="/users/register" method="post">
      <div class="">
        <label>Name</label>
        <input type="text" name="name">
      </div>
      <div class="">
        <label>Email</label>
        <input type="email" name="email">
      </div>
      <div class="">
        <label>Username</label>
        <input type="text" name="username">
      </div>
      <div class="">
        <label>Password</label>
        <input type="password" name="password">
      </div>
      <div class="">
        <label>Confirm Password</label>
        <input type="password" name="password2">
      </div>
      <div class="">
        <label>Website <em>(optional)</em></label>
        <input type="text" name="website">
      </div>
      <button type="submit" name="button">Register</button>
    </form>
  </div>
</body>

</html>
