html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #819fb5;
  font-family: 'Abel', sans-serif;
  font-size: 1.1rem;
}

h1 {
  font-size: 3.5rem;
  opacity: 0.8;
}

.header-bg {
  background-color: #303841;
}

.navbar {
  border-bottom: 5px solid #d72323;
}

.nav-inner {
  padding: 0 5rem;
}

.navbar-brand {
  font-family: 'Damion', cursive;
  font-size: 1.9rem;
}

.articles-list {
  margin: 0 65px;
  padding-top: 30px;
  height: 82vh;
}

.heading-bubble {
  background-color: #E5E5E5;
  border: 2px solid #717171;
  border-radius: 7px 35px;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 12px;
}

input {
  font: 400 13.3333px Roboto;
}

input:-webkit-autofill::first-line {
  font: 400 13.3333px Roboto;
}

.form-control {
  border: 2px solid #717171;
}

.form-style {
  margin: 0 65px 0 65px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.social-style {
  margin: 151px 65px 0 20px;
}

.btn-margin-top {
  margin-top: 20px;
}

a:not([href]) {
  color: #fff;
}

.btn-block+.btn-block {
  margin-top: 1rem;
}

.footer {
  background-color: #303841;
  border-top: 5px solid #d72323;
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer p {
	margin-top: 15px;
	font-size: 14px;
  color: #fff;
}
